{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center my-4">Bienvenue sur <small class="text-muted"><i>M@ Musique</i></small></h1>
        {#<ul class="lead text-center my-5 list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-center align-items-center"><a href="#">Mon top 50</a> &nbsp<span class="badge bg-primary rounded-pill"></span></li>
            <li class="list-group-item d-flex justify-content-center align-items-center"><a href="{{ path('artistes') }}">Mes artistes & groupes</a> &nbsp<span class="badge bg-primary rounded-pill">{{ nbArtists }}</span></li>
            <li class="list-group-item d-flex justify-content-center align-items-center"><a href="">Mes concerts</a> &nbsp<span class="badge bg-primary rounded-pill">{{ nbConcerts }}</span></li>
            <li class="list-group-item d-flex justify-content-center align-items-center"><a href="{{ path('albums') }}">Mes albums</a> &nbsp;<span class="badge bg-primary rounded-pill">{{ nbAlbums }}</span></li>
        </ul>#}

        <div id="blocks_menu" class="row py-4">
            <div id="menu_top50" class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <a href="{{ path('top50') }}">
                <div class="card mb-4" style="max-width: 30rem; height: 240px;">
                    <div class="card-header d-flex justify-content-center">
                        <h5 class="card-title">Top 50</h5>
                    </div>
                    <div class="card-body d-flex justify-content-center flex-column" style="height:155px;">
                        <p class="card-text text-center">"Salut les p'tits clous !" comme disait Marc Toesca</p>
                    </div>
                    <div class="card-body d-flex justify-content-center flex-column">
                        <button class="btn btn-outline-warning text-muted">Découvrir</button>
                    </div>
                </div>
                </a>
            </div>
            <div id="menu_artists" class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <a href="{{ path('artistes') }}">
                <div class="card mb-4" style="max-width: 30rem; height: 240px;">
                    <div class="card-header d-flex justify-content-center">
                        <h5 class="card-title">Artistes & groupes</h5>
                    </div>
                    <div class="card-body mx-0 d-flex justify-content-center flex-column" style="height:155px;">
                        <p class="card-text text-center">
                            Vus en concert ou non<br/>
                            Albums que j'ai ou pas<br/>
                            Artistes que j'aime ou pas
                        </p>
                    </div>
                    <div class="card-body d-flex justify-content-center flex-column">
                        <button class="btn btn-outline-warning text-muted">Découvrir</button>
                    </div>
                </div>
                </a>
            </div>
            <div id="menu_concerts" class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <a href="{{ path('concerts') }}">
                <div class="card mb-4" style="max-width: 30rem; height: 240px;">
                    <div class="card-header d-flex justify-content-center">
                        <h5 class="card-title">Concerts & festivals</h5>
                    </div>
                    <div class="card-body d-flex justify-content-center flex-column" style="height:155px;">
                        <p class="card-text text-center">Assise ou debout : <br/>
                            les concerts & festivals auxquels j'ai assisté</p>
                    </div>
                    <div class="card-body d-flex justify-content-center flex-column">
                        <button class="btn btn-outline-warning text-muted">Découvrir</button>
                    </div>
                </div>
                </a>
            </div>
            <div id="menu_albums" class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <a href="{{ path('albums') }}">
                <div class="card mb-4" style="max-width: 30rem; height: 240px;">
                    <div class="card-header d-flex justify-content-center">
                        <h5 class="card-title">Albums</h5>
                    </div>
                    <div class="card-body d-flex justify-content-center flex-column" style="height:155px;">
                        <p class="card-text text-center">En CD, en vinyl, en K7 (oui oui !) <br/>ou en mp3, mes albums</p>
                    </div>
                    <div class="card-body d-flex justify-content-center flex-column">
                        <button class="btn btn-outline-warning text-muted">Découvrir</button>
                    </div>
                </div>
                </a>
            </div>
        </div>

    </div>

    <div class="container d-flex justify-content-center">
        <div class="card col-12 text-dark bg-light border-warning">
          <div class="row">
            <div class="card-body col-sm-12 col-md-5 d-flex justify-content-center align-items-start">
              <img style="height:60%;" src="{{ asset('/images/artists/C-xampp-tmp-php7245-tmp-65e3981f29c14.jpg') }}" class="img-fluid rounded" alt="photo artiste ou couverture album">
            </div>
            <div class="col-sm-12 col-md-7 d-flex flex-column">
              <div class="card-body flex-grow-1">
                <h5 class="card-title">Artiste ou album au hasard</h5>
                <p class="card-text d-flex justify-content-start"><span class="badge bg-warning"><small>Artiste ou Album</small>
                  </span></p>
                <p class="card-text">Fiche descriptive de l'artiste ou de l'album au hasard<br/>kzrm klbvl izygmf ul</p>
              </div>
              <div class="card-body d-flex justify-content-end" style="flex:0;">
                <button class="btn btn-primary btn-sm">Je veux en savoir +</button>
              </div>  
            </div>
          </div>
        </div>
    </div>


{% endblock %}
