{% extends 'base.html.twig' %}

{% block title %}Admin - Pays{% endblock %}
{% block body %}
    {% if app.request.attributes.get('_route') == 'admin_add_pays' %}
        {% set titre_page = 'Ajouter' %}
        {% set btn_valid = 'Ajouter' %}
    {% elseif app.request.attributes.get('_route') == 'admin_edit_pays' %}
        {% set titre_page = 'Modifier' %}
        {% set btn_valid = 'Modifier' %}
    {% endif %}

    <div class="container col-8">
        <div class="row my-4">
            <div class="col-2"><a type="button" class="btn btn-secondary btn-sm" href="{{ path('admin_pays') }}">Retour</a></div>
            <div class="col-8"><h1 class="text-center">{{ titre_page }} un pays</h1></div>
        </div>
        <div class="d-flex justify-content-center">
            {{ form_start(formPays, {'attr':{'novalidate':'novalidate'}}) }}
                <div class="row col-12">
                    <div class="col-6">{{ form_row(formPays.pays) }}</div>
                    <div class="col-6">{{ form_row(formPays.code) }}</div>
                </div>
                <a href="{{ path('admin_pays') }}" class="btn btn-secondary btn-sm">Annuler</a>
                <button type="submit" class="btn btn-primary btn-sm">{{ btn_valid }}</button>
            {{ form_end(formPays) }}
        </div>
    </div>

{% endblock %}
